/* BUTTONS */

@mixin buttons($image) {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
  background-image: url("../images/#{$image}")
}

.calendar-button {
  float: right;
}

.submit-button {
  background-color: inherit;
  @include buttons('download.svg');
}

.steps-go-back-button {
  @include buttons('steps-goback.png');
}

.steps-info-button {
  @include buttons('steps-info.png');
}

.steps-friends-button {
  @include buttons('steps-friends.png');
}
.steps-calendar-button {
  @include buttons('steps-calendar.png');
}

.hydration-go-back-button {
  @include buttons('hydration-goback.png');
}

.hydration-info-button {
  @include buttons('hydration-info.png');
}

.hydration-friends-button {
  @include buttons('hydration-friends.png');
}

.hydration-calendar-button {
  @include buttons('hydration-calendar.png');
}

.stairs-go-back-button {
  @include buttons('stairs-goback.png');
}

.stairs-info-button {
  @include buttons('stairs-info.png');
}


.stairs-friends-button {
  @include buttons('stairs-friends.png');
}

.stairs-calendar-button {
  @include buttons('stairs-calendar.png');
}

.sleep-go-back-button {
  @include buttons('sleep-goback.png');
}

.sleep-info-button {
  @include buttons('sleep-info.png');
}

.sleep-friends-button {
  // background-image: url(../images/sleep-friends.png);
  @include buttons('sleep-friends.png');
}

.sleep-calendar-button {
  @include buttons('sleep-calendar.png');
}

.steps-trending-button {
  @include buttons('steps-trending.png');
}

.stairs-trending-button {
  @include buttons('stairs-trending.png');
}