/* BUTTONS */

@mixin buttons(image) {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
  background-image: url(image)
}
.info-button,
.friends-button,
.calendar-button,
.trending-button,
.go-back-button,
.submit-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.calendar-button {
  float: right;
}
// 