/* CHANGING CLASSES */
.hide {
  display: none;
}

// .green-text {
//   color: green;
// }

// .red-text {
//   color: red;
// }

// .yellow-text {
//   color: #F8BA00;
// }

$green-text: green;
$red-text: red;
$yellow-text: #F8BA00;